.instructions-global-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0D1117;
    color: #fff;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    padding: 20px;
}

.instructions-main-container {
    width: 100%;
    max-width: 1000px;
    text-align: center;
    margin-top: 75px;
}

.instructions-main-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
}

.instructions-section {
    margin-bottom: 40px;
    text-align: left;
}

.instructions-section h2 {
    font-size: 1.8rem;
    color: #aed7ff;
    padding-bottom: 5px;
}

.instructions-section p {
    font-size: 1rem;
    line-height: 1.5;
    color: #ddd;
    margin-bottom: 20px;
}

.instructions-table-container {
    width: 100%;
    overflow-x: auto;
}

.instructions-table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.instructions-table-container table th,
.instructions-table-container table td {
    border: 1px solid #2c2f33;
    padding: 10px;
    text-align: left;
    color: #c9d1d9;
    word-wrap: break-word;
    white-space: normal;
}

.instructions-table-container table th {
    background-color: #0d1117;
    color: #f7a50c;
}

.instructions-table-container table tr:nth-child(even) {
    background-color: #0d1117;
}

.instructions-table-container table tr:nth-child(odd) {
    background-color: #161b22;
}

.instructions-example-container {
    background-color: #161b22;
    border: 1px solid #2c2f33;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

.instructions-example {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #0d1117;    
    border: 1px solid #444;
}

.instructions-example h3 {
    font-size: 1.2rem;
    color: #aed7ff;
    margin-bottom: 10px;
}

.instructions-example pre {
    background-color: #161b22;
    padding: 10px;
    border-radius: 6px;
    font-family: monospace;
    color: #ffcc00;
    overflow-x: auto;
}

.instructions-example .incorrect {
    color: #ff2c2c;
}

.instructions-example .correct {
    color: #5ccc60;
}

/*responsive*/
@media (max-width: 768px) {
    .instructions-main-container {
        margin-top: 50px;
    }

    .instructions-section h2 {
        font-size: 1.5rem;
    }

    .instructions-section p {
        font-size: 0.9rem;
    }

    .instructions-table-container table th,
    .instructions-table-container table td {
        padding: 8px;
    }

    .instructions-example h3 {
        font-size: 1rem;
    }

    .instructions-example pre {
        padding: 8px;
    }
}