.global-container-problems {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0D1117;
    color: #fff;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    padding: 20px;
}

.problems-container {
    width: 100%;
    max-width: 1000px;
    text-align: center;
    margin-top: 75px;
}

.problems-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
}

.section-problems {
    margin-bottom: 40px;
    text-align: left;
}

.section-problems h2 {
    font-size: 1.8rem;
    color: #aed7ff;
    padding-bottom: 5px;
}

.section-problems p {
    font-size: 1rem;
    line-height: 1.5;
    color: #ddd;
    margin-bottom: 20px;
}

.section-problems ul {
    list-style-type: disc;
    padding-left: 20px;
}

.section-problems ul li {
    margin-bottom: 10px;
}

.example-problems {
    background-color: #161b22;
    border: 1px solid #2c2f33;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

.example-problems pre {
    background-color: #0d1117;
    padding: 10px;
    border-radius: 6px;
    font-family: monospace;
    color: #f7a50c;
    overflow-x: auto;
}

/* Add margin-bottom to each section to create space between them */
.section-problems:not(:last-child) {
    margin-bottom: 60px; /* Adjust the value as needed */
}

/*responsive*/
@media (max-width: 768px) {
    .problems-container {
        margin-top: 50px;
    }

    .section-problems h2 {
        font-size: 1.5rem;
    }

    .section-problems p {
        font-size: 0.9rem;
    }

    .section-problems table th,
    .section-problems table td {
        padding: 8px;
    }

    .example-problems pre {
        padding: 8px;
    }
}